@using WebApp.Models
@{
    ViewBag.Title = "Table Page";
    var user = Auth.GetUserSession();
    bool isAdmin = user != null && user.Role == "admin";
}

<div class="container">
    <h2>Cashboxes</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th id="Id" scope="col">Id</th>
            <th id="Name" scope="col">Name</th>
            @if (isAdmin)
            {
                <th scope="col">Action</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (CashBox cashBox in ViewBag.CashBoxList)
        {
            <tr>
                <td>@cashBox.Id</td>
                <td>@cashBox.Name</td>
                @if (isAdmin)
                {
                    <td>
                        <a href="/Table/EditCashbox?id=@cashBox.Id">Edit</a>
                        <a href="/Table/Cashbox?delete=@cashBox.Id&table=cashbox">Delete</a>
                    </td>   
                }
            </tr>
        }
        </tbody>
    </table>
    @if (isAdmin)
    {
        <div class="row mb-4">
            <div class="offset-md-11">
                <a href="/Table/EditCashbox?create=true" class="link-success">Add</a>
            </div>
        </div>   
    }
</div>
<script type="text/javascript">
    let sortId = document.getElementById("Id");
	let sortName = document.getElementById("Name");
	let url = new URL(location.href);
	
    sortId.onclick = function(e) {
		if (url.searchParams.has("id"))
        {
            if (url.searchParams.get("id") === "asc")
            {
				url.searchParams.set("id", "desc");
            }
			else
            {
				url.searchParams.delete("id");
            }
        }
		else
        {
			url.searchParams.append("id","asc");
        }
		console.log(url);
		window.location.replace(url);
    }
    sortName.onclick = function(e) {
		if (url.searchParams.has("name"))
        {
            if (url.searchParams.get("name") === "asc")
            {
                url.searchParams.set("name", "desc");
            }
            else
            {
                url.searchParams.delete("name");
            }
        }
        else
        {
            url.searchParams.append("name","asc");
        }
        console.log(url);
        window.location.replace(url);
	}
</script>