@using WebApp.Models
@{
    Staff s = new Staff();
    int id = -1;
    string name = "";
    if (ViewBag.Create)
    {
        ViewBag.Title = "Create Page";    
    }
    else
    {
        ViewBag.Title = "Edit Page";
        s = ViewBag.Staff;
        id = s.Id;
        name = s.Name;
    }
}

<div>
    <h2>Staff</h2>
    @if (!ViewBag.Create)
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
            </tr>
            </tbody>
        </table>   
    }
    <form method="post" action = "/Table/EditStaff/" class="mt-5">
        <div class="form-group mb-5">
            @if (id > -1)
            {
                <input name="Id" class="invisible" value="@id"/>   
            }
            <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" id="Name" required name="Name" pattern="^[а-яА-Яa-zA-Z\s]{2,30}" value="@name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
        <button type="reset" class="btn">Reset</button>
        <a href="/Table/Staff" class="btn">Cancel</a>
    </form>
</div>

<script>
    let inputName = document.getElementById("Name");
    inputName.addEventListener("input", (evt) => {
        if (inputName.validity.patternMismatch)
        {
            inputName.setCustomValidity("Invalid name");
        }
        else {
            inputName.setCustomValidity("");
        }
    });
</script>