@using WebApp.Models
@{
    ViewBag.Title = "Tables";
}

<div class="container">
    <div class="list-group mb-4">
        <a class="list-group-item list-group-item-action" href="../Table/Staff/">Staff</a>
        <a class="list-group-item list-group-item-action" href="../Table/OperationType/">Operation types</a>
        <a class="list-group-item list-group-item-action" href="../Table/Cashbox/">Cashboxes</a>
        <a class="list-group-item list-group-item-action" href="../Table/Contract/">Contracts</a>
        <a class="list-group-item list-group-item-action" href="../Table/Logbook/">Logbook</a>
    </div>
</div>