@using WebApp.Models
@{
    ViewBag.Title = "Home Page";
    var user = Auth.GetUserSession();
    bool isAdmin = user != null && user.Role == "admin";
}

<div class="container">
    <h2>Types of operations</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th id="Id" scope="col">Id</th>
            <th id="Type" scope="col">Type</th>
            @if (isAdmin)
            {
                <th scope="col">Action</th>   
            }
        </tr>
        </thead>
        <tbody>
        @foreach (OperationType opType in ViewBag.OperationTypeList)
        {
            <tr>
                <td>@opType.Id</td>
                <td>@opType.Type</td>
                @if (isAdmin)
                {
                    <td>
                        <a href="/Table/EditOperationType?id=@opType.Id">Edit</a>
                        <a href="/Table/OperationType?delete=@opType.Id&table=operation_type">Delete</a>
                    </td>   
                }
            </tr>
        }
        </tbody>
    </table>
    @if (isAdmin)
    {
        <div class="row mb-4">
            <div class="offset-md-11">
                <a href="/Table/EditOperationType?create=true" class="link-success">Add</a>
            </div>
        </div>   
    }
</div>
<script type="text/javascript">
    let sortId = document.getElementById("Id");
	let sortType = document.getElementById("Type");
	let url = new URL(location.href);
	
    sortId.onclick = function(e) {
		if (url.searchParams.has("id"))
        {
            if (url.searchParams.get("id") === "asc")
            {
				url.searchParams.set("id", "desc");
            }
			else
            {
				url.searchParams.delete("id");
            }
        }
		else
        {
			url.searchParams.append("id","asc");
        }
		console.log(url);
		window.location.replace(url);
    }
    sortType.onclick = function(e) {
		if (url.searchParams.has("type"))
        {
            if (url.searchParams.get("type") === "asc")
            {
                url.searchParams.set("type", "desc");
            }
            else
            {
                url.searchParams.delete("type");
            }
        }
        else
        {
            url.searchParams.append("type","asc");
        }
        console.log(url);
        window.location.replace(url);
	}
</script>