@using WebApp.Models
@{
    ViewBag.Title = "Table page";
    var user = Auth.GetUserSession();
    bool isAdmin = user != null && user.Role == "admin";
}

<div class="container">
    <h2>Users</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            @if (isAdmin)
            {
                <th scope="col">Action</th>   
            }
        </tr>
        </thead>
        <tbody>
        @foreach (Staff s in ViewBag.StaffList)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                @if (isAdmin)
                {
                    <td>
                        <a href="/Table/EditStaff?id=@s.Id">Edit</a>
                        <a href="/Table/Staff?delete=@s.Id&table=staff">Delete</a>
                    </td>   
                }
            </tr>
        }
        </tbody>
    </table>
    @if (isAdmin)
    {
        <div class="row mb-4">
            <div class="offset-md-11">
                <a href="/Table/EditStaff?create=true" class="link-success">Add</a>
            </div>
        </div>   
    }
    <form method="get" action = "/Table/Staff/" class="mt-5">
        <div class="form-group mb-5">
            <div class="input-group mb-3">
                <span class="input-group-text">Sort by</span>
                <input type="text" class="form-control" required name="sort" value="id">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </form>
</div>