@using WebApp.Models
@{
    ViewBag.Title = "My account";
    var user = Auth.GetUserSession();
}

<div class="container">
    <div class="form-floating mb-3">
        <h3>Hello, @user.Name</h3>
    </div>
    
    <form method="post" action="/Home/Account/">
        <div class="form-floating mb-3">
            <h5>Change name</h5>
        </div>
        <input name="Id" class="invisible" value="@user.Id"/>
        <div class="form-floating mb-3">
            <input name="Name" type="text" class="form-control" id="fName" placeholder="Name">
            <label for="fName">@user.Name</label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>