@using WebApp.Models
@{
    ViewBag.Title = "Edit Page";
    OperationType ot = ViewBag.OperationType;
}

<div>
    <h2>Operation Type</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ot.Id</td>
                <td>@ot.Type</td>
            </tr>
        </tbody>
    </table>
    <form method="post" action="/Home/EditOperationType/">
        <div class="form-group">
            <input name="Id" class="invisible" value="@ot.Id"/>
            <div class="input-group mb-3">
                <span class="input-group-text">Type</span>
                <input type="text" class="form-control" name="Type" value="@ot.Type">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
        <button type="reset" class="btn">Reset</button>
        <a href="/Home/" class="btn">Cancel</a>
    </form>
</div>
<script>
    
</script>