@using WebApp.Models
@{
    ViewBag.Title = "Index";
    var user = Auth.GetUserSession();
}

<div class="container">
    <div class="row justify-content-center mb-5">
        @if (user != null)
        {
            <h3>Welcome, @user.Name!</h3>   
        }
        else
        {
            <h3>Welcome, please <a href="/Home/Signin/">authorize</a>!</h3>
        }
    </div>
</div>