@using WebApp.Models
@{
    ViewBag.Title = "Sign up";
    int? status = ViewBag.Status;
}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="d-sm-inline-flex p-5 bd-highlight">
            <div class="col text-center">
                <form method="post" action="/Home/Signup/">
                    <div class="form-floating mb-3">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="Name" required type="text" class="form-control" id="fName" placeholder="Password">
                        <label for="fName">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="Login" required type="text" class="form-control" id="fLogin" placeholder="name@example.com">
                        <label for="fLogin">Login</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="Pass" required type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" class="form-control" id="fPass" placeholder="Password">
                        <label for="fPass">Password</label>
                    </div>
                    <div class="mb-3">
                        <input name="Role" class="form-check-input" type="checkbox" id="fAdmin">
                        <label class="form-check-label ps-1" for="fAdmin">
                            Admin
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    @if (status!= null && status != 1)
        {
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Error!
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>   
        }
</div>